<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script type="text/javascript" src="./zepto.js"></script>
</head>
<body>
    <div id="list"></div>
    <script>
        $.ajax({
            url:'http://localhost:8888/user/list',
            type:"GET",
            data: null,
            dataType: 'json',
            success: function(res) {
                if (res.err) {
                    alert(res.msg);
                    return;
                }
                let html = [];
                for (let i = 0, len = res.list.length; i < len; i++) {
                    let tmp = '<p>' + res.list[i]._id + ' ' +res.list[i].username +  ' ' + res.list[i].password + '</p>'
                    html.push(tmp);
                }
                $('#list').html(html);
            },
            error:function() {
                //
            },
        });
    </script>
</body>
</html>